{{- $osid := .chezmoi.os -}}
{{- if hasKey .chezmoi "osRelease" -}}
{{-   if hasKey .chezmoi.osRelease "id" -}}
{{-     $osid = .chezmoi.osRelease.id -}}
{{-   end -}}
{{- end -}}

{{- $email := promptStringOnce . "email" "Email address" -}}
{{- $desktop := promptStringOnce . "desktop" "Desktop environment (hyprland/none)" -}}
{{- $formFactor := promptStringOnce . "form_factor" "Machine form factor (laptop/desktop/server)" -}}
{{- $profile := promptStringOnce . "profile" "Machine profile (work/personal)" -}}
{{- $dev := promptBoolOnce . "dev" "Development machine" -}}

[data]
  osid = {{ $osid | quote }}
  hostname = {{ .chezmoi.hostname | quote }}
  email = {{ $email | quote }}
  desktop = {{ $desktop | quote }}
  form_factor = {{ $formFactor | quote }}
  profile = {{ $profile | quote }}
  dev = {{ $dev }}
